<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
          <bean id="t1" class="com.nt.sbeans.Subject">
          <property name="title" value="Math"/>
          <property name="teacher" value="Satyam"/>
          </bean>
          
          <bean id="t2" class="com.nt.sbeans.Subject">
          <property name="title" value="English"/>
          <property name="teacher" value="Mohan"/>
          </bean>
          
          <bean id="t3" class="com.nt.sbeans.Subject">
          <property name="title" value="Science"/>
          <property name="teacher" value="Pankaj"/>
          </bean>
          
          <bean id="Tl"  class="com.nt.sbeans.StaffRoom">
         <property name="data">
          <map>
               <entry key="English"  value-ref="t1"/>
                <entry key="Science" value-ref="t2"/>
                <entry key="Math" value-ref="t3"/>
          </map>
          
          </property>
          
          </bean>
          
          
                 
      </beans>